
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputFirstname" class="col-sm-3 control-label">Firstname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputFirstname" placeholder="Firstname" ng-model="usersCtrl.tempEditUser.firstname">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastname" class="col-sm-3 control-label">Lastname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputLastname" placeholder="Lastname" ng-model="usersCtrl.tempEditUser.lastname">
      </div>
    </div>
    <div class="form-group">
      <label for="inputGender" class="col-sm-3 control-label">Gender</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputGender" placeholder="Gender" ng-model="usersCtrl.tempEditUser.gender">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="usersCtrl.tempEditUser.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputRole" class="col-sm-3 control-label">Role</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputRole" placeholder="Role" ng-model="usersCtrl.tempEditUser.role">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary" ng-click="usersCtrl.saveEdit();">Save</button>
          <button class="btn btn-default" ng-click="usersCtrl.cancelEdit();">Cancel</button>
      </div>
    </div>
  </form>
